/*
fieldset {
	margin: .1in 0in .1in .25in;
	display:inline-block;
	border-radius: 12px;
	height:auto;
	float:none;

}
input {
	display: block;
}
aside {
	float:left;
}
form {
	height:inherit;
}
#_bdr{
	border-top:1px silver solid;
	border-bottom:1px silver solid;
	margin:4px 0px 4px 0px;
	padding:4px;
}
form div label {
display:inline-block;
}
form div input {
	display:inline-block;
}
*/