#output {
	border:2px navy solid;
	width:2.25in;
	height:1.8in;
	padding:10px;
	position:relative;
}
#output::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/bentley.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}
#dt {
	text-align:center;
	font-size:250%;
	line-height:100%;
}
#dn {
	text-align:center;
	font-size:500%;
	line-height:80%;
}
#ann {
	text-align:center;
	font-size:80%;
	height:10px;
}
#myt {
	text-align:center;
	font-size:200%
}
#jul {
	text-align:left;
	font-size:small;
}
#dys {
	text-align:right;
	font-size:small;
}
#doy {
	float:right;
}
#julian {
	float:left;
}
#jul {
	clear:both;
}