form {
	margin: .5in 0in 0in .5in;
}
	fieldset {
	float: left;
	border-radius: 8px;
	margin: 8px;
}
	fieldset:first-of-type {
	margin-bottom: 16px;
}
	input {
	display: block;
	width: .5in;
	margin: 4px 0px;
}
	#surface {
	position: relative;
	width: 300px;
	height: 300px;
}
	#surface img:first-of-type {
	position: relative;
	top: 48px;
	left: 48px;
	transform: rotate(-8deg);
}
	#surface img:last-of-type {
	position: relative;
	top: 0px;
	left: 0px;
	transform: rotate(17deg);
}
	#clr, #wod {
	border: 2px white solid;
}
	#sum {
	text-align: center;
}

