html {
	background-image:url('../images/fire.png');
	padding: 3.75%;
}

body {
	border-color: #000080;
	border-style: solid;
	border-width: 5px;
	margin: auto;
	width: 968px;
	position: relative;
	font-family: Calibri, sans-serif;
	background-color: white;
	}
	
header, footer {
	width: 960px;
	background: #EAEAEA;
	padding: 8px 4px;
	}
	
header {
	height: 88px;
	border-bottom: 1px silver solid;
	}
	
footer {
	height: 36px;
	border-top: 1px silver solid;
	clear: both;
	}
	
aside {
	float: left;
	clear:left;
	width: 130px;
	display: inline;
	height:100%;
	padding-bottom:8%;
	}
	
section {
	float: left;
	width: 810px;
	border-left:3px silver solid;
	padding-left:3px;
	}
	
aside, section {
	margin-bottom: 8px;
	}
	
nav {
	float: left;
	width: inherit;
	border-bottom: 1px silver solid;
	position: relative;
	font-size: medium;
	margin-top:-8px;
	}
			
fieldset {
	margin: .1in 0in .1in .25in;
	display:inline-block;
	border-radius: 12px;
	height:auto;
	float:left;
	}
input {
	display: block;
	}
aside {
	float:left;
	}
form {
	height:inherit;
}
#_bdr{
	border-top:1px silver solid;
	border-bottom:1px silver solid;
	margin:4px 0px 4px 0px;
	padding:4px;
	}
form div label {
	display:inline-block;
	}
form div input {
	display:inline-block;
	}
#frmBox {
	height:2.25in;
}