body {
	margin: 0px auto; 
	width: 1275px;
	border: 1px silver solid;
	position: relative;
	font-family: Century Gothic;
}
	header {
	height: 280px; 
	border-bottom: 1px #4A708B groove;
}

	footer {
	height: 25px;
	border-top: 1px #4A708B solid;
	clear: both;
	background-color: #0D4F8B;
	padding-bottom: 10px;
	padding-top: 10px;

	
}
	aside {
	float: left; 
	width: 120px; 
	padding: 0px 15px;
	margin: 0px 4px 0px 0px;
	display: inline; 
	border-right: 1px #0D4F8B dashed;
}
	section{
	//float: left;
	//width: 1200px;
}
	aside, section{
	margin-bottom: 8px;
	
}

	nav {
	float: none;
	height: 28px;
  	margin-bottom: 10px;
	padding-bottom: 8px;
	padding-left: 340px;
	padding-top: 15px;
    position: fixed;
    top: -28px;
    z-index: 1;
    background: white;
    opacity: 0.8;
    width: 1000px;
    
}
	nav ul {
	margin: 0px;
	padding: 5px;
}

	nav ul li {
 	list-style-type: none;
 	display: inline-block;
 	margin: 0px;
   	}

	nav li a {
	color:  black;
	font-weight:bold;
	font-size: 18px;
    transition: 0.2s;   
    display: block;
	float: left;	
	padding: 1px 25px;
	text-decoration: none;
	opacity:0.7;
	    }

	nav li a:hover {
	color: white;
	background-color: white;
    text-shadow: -1px 1px 5px black, 1px -1px 5px black;
    font-family: Century Gothic;
    opacity:0.7;
    }
        
    a
    { color: white; }


    #primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family: Century Gothic;
	opacity:0.8;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li:hover
{
	background: white;
	opacity:0.9;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: white;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:140px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#card-holder{
	width:6in;
	margin-top:-70px;
	float:left;
}
.card{
	border:2px blue solid;
	margin:5px;
	background:aqua;
}
.img {
	display:inline-block;
	border-right:2px blue solid;
}
.info {
	display:inline-block;
	height:50%;
	padding-left:5px;
	font-weight:bold;
}
.rating {
	display:inline;
	position:relative;
	height:4px;
	margin-bottom:50px;
}
.centerText {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #0D4F8B;
    color: white;
    float: inherit;
    font-family: Century Gothic;
    text-align: center;
    padding-top: 1.2px;
    padding-bottom: 2px;
    border-top: 18px white solid;
    opacity:0.9;
    position: relative;
    top: -80px;
 }

.headerTitle {
    position: relative;
	font-family: Century Gothic;
	font-size: 50pt;
	top: -170px;
	left: 50px;
	color: white;
	font-weight: bold;
	text-shadow: -1px 1px 10px black, 1px -1px 10px black;
}


