body#background {
  /* background: url('http://s30.postimg.org/hgkp4trbj/buildings_high_rise_manhattan_2324.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; */
}

footer#footer {
		
	top: 729px;
	font-size: 15px;
	color: white;
	margin-left: 29%;
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	font-family: Century Gothic;
	position: absolute;
	
}


	aside {
	float: left; 
	width: 140px; 
	padding: 0px 15px;
	margin: 0px 4px 0px 0px;
	display: inline; 
	border-right: 1px #0D4F8B dashed;
}
	section{
	//float: left;
	//width: 1200px;
}
	aside, section{
	margin-bottom: 8px;
	
}

	nav 
	{
	font-family: Century Gothic;
	float: none;
	height: 28px;
  	padding-bottom: 15px;
	padding-left: 400px;
	padding-top: 20px;
    position: fixed;
    top: -18px;
    z-index: 1;
    //background: gray;
    //opacity: 0.8;
    width: 100%;
    
 }
	nav ul {
	margin: 0px;
	padding: 5px;
}

	nav ul li {
 	list-style-type: none;
 	display: inline-block;
 	margin: 0px;

}
	
	nav li a {
	color: black;
	font-weight: bold;
	font-size: 18px;
    transition: 0.2s;   
    display: block;
	float: left;	
	padding: 1px 25px;
	text-decoration: none;
	//background-color: #ffffff;
	//opacity:0.7;
	text-shadow: -1px 1px 10px white, 1px -1px 10px white;

    }

	nav li a:hover {
	color: white;
	//background-color: none;
    text-shadow: -1px 1px 5px black, 1px -1px 5px black;
    font-family: Century Gothic;
    transition: 0.10s; 
    }
            
    a
    { color: white; }

#buttons {
    white-space: nowrap;
	float: left;
  	margin-bottom: 10%;
	padding-left: 31.5%;
    margin-top: 7%;
    opacity: 0.8;
    font-family: Century Gothic;
    text-align:center;

}

#buttons ul li
{	
position: relative;
display:inline;
height:0.3in;
width:1in;
cursor:pointer;  
background: #009cde; 
border: 2px solid #00BFFF;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 5px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:#f3f3f3;
font-size:19px;
text-align:center;
padding:15px;
margin:10px;
font-weight: bold;
}

#buttons ul li:hover {
background-color: #0079ad; 
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

#buttons ul li a{
	text-decoration:none;
	padding:20px;
}



#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family: Century Gothic;
	opacity:0.8;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li:hover
{
	background: none;
	opacity:0.9;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:none;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:150px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#background_cycler{padding:0;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1;white-space: nowrap;min-height: 100%;
  min-width: 1024px;}
#background_cycler img{position:fixed;left:0;top:0;width:100%;z-index:1;white-space: nowrap;min-height: 100%;
  min-width: 1024px;}
#background_cycler img.active{z-index:3;white-space: nowrap;min-height: 100%;
  min-width: 1024px;}

a.tip {
  position: relative;
  text-decoration: none;
}
a.tip:hover:before {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: white;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: black;
  font-size: 15px;
}
a.tip:hover:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}
