aside {
	padding-top: 5px;
	padding-left: 5px;
}
#_name {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 960px;
	background-color: transparent;
}
#_firstname {
	position: relative;
	font-family: Century Gothic;
	font-size: 50pt;
	top: 120px;
	left: 50px;
	float: left;
	color: white;
	font-weight: bold;
	text-shadow: -1px 1px 10px black, 1px -1px 10px black;
}}
/*
#_headersubtext {
	font-size: 25pt;
	font-variant: small-caps;
	position: relative;
	left: 200px;
	top: 320px;
	float: left;
	z-index: 1;
	color: white;	
	font-family: Century Gothic;
	font-weight: bold;
	text-shadow: 5px 5px 5px #104E8B;
}

#_lastname {
	font-size: 20pt;
	font-variant: small-caps;
	position: relative;
	left: 10px;
	text-align: left
	top: 150px;
	float: left;
	z-index: 1;
	color: black;	
	font-family: Century Gothic;
}	
*/
#_headerlogo {
	position: relative;
	top: 80px;
   left: 50px;	
   float: left;
	z-index: 1;
	opacity: 10;
	}

#_shortname {
	font-size: x-small;
	text-transform: lowercase;
	height: 20px;
	width: 64px;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 4px;
	overflow: hidden;
}
#_date {
	display: inline-block;
	font-size: 12pt;
	font-variant: small-caps;
	padding: 14px 8px 0px 0px;
}
#_avatar64 {
	display: block;
	padding-top: 16px;
	float: left;
}
#_avatar32 {
	display: inline-block;
	padding-top: 2px;
	float: right;
}
#_course {
	font-size: 22pt;
	display: inline-block;
	padding: 2px 8px 0px 0px;
	float: right;
}
#_semester {
	font-size: 12pt;
	font-variant: small-caps;
	display: inline-block;
	padding: 14px 8px 0px 0px;
	float: right;
}
#_headback {
	height: 105px;
	position: relative;
	top: -9px;
	left: 4px;
	overflow: hidden;
	float: right;
}
#_headback img {
	position: relative;
	top: -48px;
	left: 0px;
	opacity: .5;
}
._siz512 {
	width: 512px;
	height: 512px;
}
._siz384 {
	width: 384px;
	height: 384px;
}
._siz256 {
	width: 256px;
	height: 256px;
}
._siz192 {
	width: 192px;
	height: 192px;
}
._siz160 {
	width: 160px;
	height: 160px;
}
._siz128 {
	width: 128px;
	height: 128px;
}
._siz96 {
	width: 96px;
	height: 96px;
}
._siz64 {
	width: 64px;
	height: 64px;
}
._siz48 {
	width: 48px;
	height: 48px;
}
._siz32 {
	width: 32px;
	height: 32px;
}
._siz16 {
	width: 16px;
	height: 16px;
}

._sizdim {
	opacity: .3;
}


