body {
	margin: 0px auto; 
	width: 92%;
	position: static;
	font-family: Century Gothic;
	background: whitesmoke;
	border: thin silver solid;
}
	header {
	height: 270px; 
	border-bottom: thin black solid;
	
}

	footer {
	height: 40px;
	border-top: 1px #4A708B solid;
	clear: both;
	background-color: #0D4F8B;
	padding-bottom: 21px;
	padding-top: 28px; 
	color: white;
	text-align: center;
	font-size:15px;
	
}
	aside {
	float: left; 
	width: 120px; 
	padding: 0px 15px;
	margin: 0px 4px 0px 0px;
	display: inline; 
	border-right: 1px #0D4F8B dashed;
}
	aside, section{
	margin-bottom: 8px;
	
}
        
    footer a
    { 
    color: white; 
    }


    #primary_nav_wrap
{
	width: 100%;

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding-left: 459px;
	height: 70px;
	margin-top: 10px;
	text-shadow: 0 0 8px white;
	 -webkit-stroke-width: 15px;
   -webkit-stroke-color: white;
   -webkit-fill-color: white;
   text-shadow: 1px 1px 20px white;
   -webkit-transition: width 0.2s; /*Safari & Chrome*/
   transition: width 0.2s;
   -moz-transition: width 0.2s; /* Firefox 4 */
   -o-transition: width 0.2s; /* Opera */
	
	
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family: Century Gothic;
	color: black;
	}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li:hover
{
	background: white;
	opacity: .7;
}

#userName{
	float:left;
}
#filter{
	margin-top:-70px;
	float:left;
	display:inline;
}
#groupSelector{
	margin-top:-70px;
	float:right;
	display:inline;	
}
#share{
	margin-top:-70px;
	float:left;
	margin-left:2.5in;
	display:inline;
	padding:2px 5px;
	z-index:999;
}
#share:hover{
	cursor:pointer;
	font-weight:bold;
}
#address{
	display:inline-block;
}
#card-holder{
	width:7in;
	margin-top:-45px;
	float:left;
}

#card-holderGroups{
	width:5.8in;
	margin-top:-600px;
	float:left;
	margin-left: 790px;

}
.card, .info-card{
	border:1px silver solid;
	margin: 18px;
	background:white;
	font-family: Century Gothic;
	color: #0D4F8B;
	border-radius: 5px;	
	margin-left: 25px;
	}
.card:hover{
	background-color:#E0EEEE;
	cursor:pointer;
}
#card-selected {
	background:#7AC5CD;
	border:2px silver solid;
	margin:10px;
}
.letter {
	border-radius: 10px;
	font-size:12pt;
	color:#0D4F8B;
	width:70px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	text-align:center;
	float:right;
	margin-top:35px;
	margin-right:25px;
	border: thin silver solid;
	background: white;
}

	.img {
	display:inline-block;
	border:1px silver solid;
	border-radius: 10px;
	padding-top: 5px;
}
.info {
	display:inline-block;
	height:50%;
	padding-left:15px;
	font-size: 18px;

}
.rating {
	display:inline;
	position:relative;
	height:4px;
	margin-bottom:50px;
}

.error {
		font-size: medium;
		font-family: Century Gothic;
		color: #B22222;
		left: 50px;
		
}
.centerText {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    color: #0D4F8B;
    float: inherit;
    font-family: Century Gothic;
    text-align: center;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;
    top: -80px;
    font-weight: bold;
    height: 500px;
    border-radius: 10px; 
    border: thin silver solid;
  	background: white;

   
 }

.headerTitle {
    position: relative;
	font-family: Century Gothic;
	font-size: 45pt;
	top: -155px;
	left: 50px;
	color: white;
	text-shadow: -1px 1px 5px black, 1px -1px 5px black;

	}

a.tip {
  position: relative;
  text-decoration: none;
}
a.tip:hover:before {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: white;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: black;
  font-size: 15px;
}
a.tip:hover:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}

.weatherItem { width: 450px; height: 200px; background-position: right center; margin-top: 50px;}
.weatherForecastItem { margin-top: 1em; background-position: center center; font-size: 0.9em; }
.weatherLink { margin-top: 1em; margin-bottom: 10px; padding-top: 20px;}

.weatherForecast {}
.weatherForecastItem { float: left; margin: 1em 2em 1em 2; padding-right: 4em; background-position: right; }
.weatherLink { clear: both; }

 #weatherReport
	 {
	position: absolute;
 	margin-left: 45%; 
 	margin-top: 4%;
 	top: 50.5%;
 	padding-top: -10%;
	width: 34%;
	height: 85%;
	padding-left: 4%;
   	-moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px; 
    border: thin silver solid;
	}

	#weatherList
	{
	padding-left: 2%;
	top: 450px;
	position: absolute;
	padding-top: 2.5%;
	margin-left: 5%;
	width: 32.8%;
	height: 80%;
	font-size: 15.2px;
	-moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px; 
    border: thin silver solid;
		}
		
	#weatherList a 
	{
	color: #0D4F8B;;
	}
	
	#weatherSearch 
	{
	margin-left: 32%;
	margin-top: -40px;
	color: #0D4F8B;
	padding-bottom: 25px;
	font-weight: bold;
	}
		
	#weatherLocation{
	padding: 5px 8px 8px 9px;
	font-family: Century Gothic;	
	}
	
	#userInfo 
	{
	color: white;
	top: -470px;
	position: relative;
	margin-left: 42%;;
	margin-top: 1%; 
	height: 290px;
	width: 250px;
	color: #0D4F8B;
	text-align: left;
	}

	#inputSearch
		{
	width: 410px;
	height: 29px;
	display: block;
	float: left;
	font-family: Century Gothic;	
	font-size: 17px;
	font-weight: 400;
	height: 29px;
	margin: 0;
	padding: 0 10px;
	margin-left: -100px;
		}
		
	#inputLogin, #inputSignUp{
	width: 195px;
	height: 29px;
	display: block;
	float: left;
	font-family: Century Gothic;	
	font-size: 17px;
	font-weight: 400;
	height: 29px;
	margin: 0;
	padding: 0 10px;
	}

	#userNameForm, #userEmailForm, #userIDForm  {
	border: none;
	background-color: rgba(48, 121, 149, 0.0);
	width: 190px;
	height: 29px;
	display: block;
	font-family: Century Gothic;	
	font-size: 17px;
	font-weight: 400;
	height: 29px;
	margin: 0;
	padding: 0 10px;
	margin-left: 120px;
	margin-top: -40px;
	}
		
	
	.button{
	margin:20px;
	display:inline-block;
	}
	
	#newGroupDiv{
		display:inline-block;
	}
	#viewGroupsDiv{
		display:inline-block;
	}
	#manageGroups {
	position: relative;
	top: 28px;
	left: 2px;
	cursor:pointer; 
	padding:5px 25px;
	background: #1874CD; 
	border:1px solid #009cde; 
	border-radius: 5px;
	color: white;
	font-size:1.1em;
	font-family: "Century Gothic";
	text-decoration: none;
	text-align: center;
}
	#manageGroups:hover{
	background-color:#009cde;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
	color: #0079ad;
}
	#manageGroups a {
		padding:10px;
		text-decoration:none;
		color: white;
}

	#groupActions{
	left: 250px;
	}

 #userInfo input:focus, #weatherSearch input:focus, #userInfoGroups input:focus{
	-webkit-animation: glow 1000ms ease-out infinite alternate;
	-moz-animation: glow 1000ms ease-out infinite alternate;
	-o-animation: glow 1000ms ease-out infinite alternate;
	-ms-animation: glow 1000ms ease-out infinite alternate;
	animation: glow 1000ms ease-out infinite alternate;
	border-color: #0079ad;
	outline: none;
}

hr{
       border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;   
    width: 80%;
     }
     
     .centerTextGroups {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    color: #0D4F8B;
    float: inherit;
    font-family: Century Gothic;
    text-align: center;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;
    top: -80px;
    font-weight: bold;
    height: 580px;
    border-radius: 10px; 
    border: thin silver solid;
  	background: white;
  	left: -380px;
 }
 
	#userInfoGroups
	{
	
	color: white;
	position: absolute;
	left: 170px;
	top: 500px;
	color: #0D4F8B;
	text-align: left;
	 display: inline;
	}
	
	#userInfoGroups2
	{
	
	color: white;
	position: absolute;
	left: 170px;
	top: 600px;
	color: #0D4F8B;
	text-align: left;
	 display: inline;
	}
		
	#emailGroup{
	color: white;
	position: absolute;
	left: 170px;
	top: 700px;
	color: #0D4F8B;
	text-align: left;
	 display: inline;

}	
	
	 #SavedCardsGroups
	 {
	position: absolute;
	height: 1200px;
	padding-left: 4%;
   	-moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px; 
    border: thin silver solid;
	margin-top:-695px;
	float:left;
	margin-left: 680px;
	z-index: -1;
	width: 670px;
	background: whitesmoke;
	color: #0D4F8B;
}

	#DeleteGroups{
	color: white;
	position: absolute;
	left: 170px;
	top: 800px;
	color: #0D4F8B;
	text-align: left;
	 display: inline;

}

	#message{
	margin-top:-500px;
	float:left;
	margin-left: 900px;
	color: #0D4F8B;
	font-weight: bold;

}

