body {
	margin: 0px auto; 
	width: 1275px;
	border: 1px silver solid;
	position: static;
	font-family: Century Gothic;
}
	header {
	height: 280px; 
	border-bottom: 1px #4A708B groove;
}

	footer {
	height: 25px;
	border-top: 1px #4A708B solid;
	clear: both;
	background-color: #0D4F8B;
	padding-bottom: 10px;
	padding-top: 10px; 
	color: white;
	text-align: center;
	font-size:15px;
	
}
	aside {
	float: left; 
	width: 120px; 
	padding: 0px 15px;
	margin: 0px 4px 0px 0px;
	display: inline; 
	border-right: 1px #0D4F8B dashed;
}
	section{
	background: whitesmoke;
}
	aside, section{
	margin-bottom: 8px;
	
}

	nav {
	float: none;
	height: 28px;
  	margin-bottom: 10px;
	padding-bottom: 8px;
	padding-left: 270px;
	padding-top: 15px;
    position: fixed;
    top: -28px;
    z-index: 1;
    background: white;
    opacity: 0.8;
    width: 1100px;
    
}
	nav ul {
	margin: 0px;
	padding: 5px;
}

	nav ul li {
 	list-style-type: none;
 	display: inline-block;
 	margin: 0px;
   	}

	nav li a {
	color:  black;
	font-weight:bold;
	font-size: 18px;
    transition: 0.2s;   
    display: block;
	float: left;	
	padding: 1px 25px;
	text-decoration: none;
	opacity:0.7;
	    }

	nav li a:hover {
	color: white;
	background-color: white;
    text-shadow: -1px 1px 5px black, 1px -1px 5px black;
    font-family: Century Gothic;
    opacity:0.7;
    }
        
    footer a
    { 
    color: white; 
    }


    #primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family: Century Gothic;
	opacity:0.8;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li:hover
{
	background: white;
	opacity:0.9;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: white;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:140px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
#userName{
	float:right;
}
#filter{
	margin-top:-75px;
	float:left;
}
#groupSelector{
	margin-top:-75px;
	float:right;
	
}

#card-holder{
	width:6in;
	margin-top:-45px;
	float:left;
}
.card, .info-card{
	border:2px silver solid;
	margin:5px;
	background:#CCFFFF;
}
.card:hover{
	background-color:#FFCCFF;
	cursor:pointer;
}
#card-selected {
	background:#FFCCFF;
	border:2px silver solid;
	margin:5px;
}
.letter {
	font-size:24pt;
	color:black;
	border:2px black solid;
	width:70px;
	padding-top:10px;
	padding-bottom:10px;
	background:#FF4747;
	font-weight:bold;
	text-align:center;
	float:right;
	margin-top:15px;
	margin-right:25px;
}
.img {
	display:inline-block;
	border-right:2px silver solid;
}
.info {
	display:inline-block;
	height:50%;
	padding-left:5px;
	font-weight:bold;
}
.rating {
	display:inline;
	position:relative;
	height:4px;
	margin-bottom:50px;
}

.error {
	text-align:left;
	margin-left:25%;
	margin-right:20%;
	font-weight:bold;
	font-size:24pt;
	color:red;
}
.centerText {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color: #0D4F8B;
    float: inherit;
    font-family: Century Gothic;
    text-align: center;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;
    top: -100px;
    background-color: rgba(110, 150, 221, 0.2);
    font-weight: bold;
    height: 500px;
    border-radius: 15px;
 }

.headerTitle {
    position: relative;
	font-family: Century Gothic;
	font-size: 50pt;
	top: -170px;
	left: 50px;
	color: white;
	font-weight: bold;
	text-shadow: -1px 1px 10px black, 1px -1px 10px black;
}

a.tip {
  position: relative;
  text-decoration: none;
}
a.tip:hover:before {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: white;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: black;
  font-size: 15px;
}
a.tip:hover:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}

.weatherItem { width: 450px; height: 200px; background-position: right center; margin-top: 50px;}
.weatherForecastItem { margin-top: 1em; background-position: center center; font-size: 0.9em; }
.weatherLink { margin-top: 1em; margin-bottom: 10px; padding-top: 20px;}

.weatherForecast {}
.weatherForecastItem { float: left; margin: 1em 2em 1em 2; padding-right: 4em; background-position: right; }
.weatherLink { clear: both; }

 #weatherReport
	 {
	position: absolute;
 	margin-left: 40%; 
 	margin-top: 4%;
 	top: 50%;
 	padding-top: -10%;
	width: 34%;
	height: 85%;
	padding-left: 4%;
	background-color: rgba(110, 150, 221, 0.2); 	
   	-moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px; 
	}

	#weatherList
	{
	padding-left: 2%;
	top: 450px;
	position: absolute;
	padding-top: 2.5%;
	margin-left: 2.9%;
	width: 32.8%;
	height: 80%;
	font-size: 15.2px;
	background-color: rgba(110, 150, 221, 0.2);	
	-moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px; 
		}
		
	#weatherList a 
	{
	color: #0D4F8B;;
	}
	
	#weatherSearch 
	{
	margin-left: 32%;
	margin-top: -40px;
	color: #0D4F8B;
	padding-bottom: 25px;
	font-weight: bold;
	}
	#weatherLocation{
	padding: 5px 8px 8px 9px;
	}
	
	#userInfo 
	{
	color: white;
	top: -470px;
	position: relative;
	margin-left: 42%;;
	margin-top: 1%; 
	height: 290px;
	width: 250px;
	color: #0D4F8B;
	text-align: left;
	}

	#inputSignUp{
	
	width: 190px;
	}
	.button{
	margin:20px;
	display:inline-block;
	}
	
	#newGroupDiv{
		display:inline-block;
	}
	#viewGroupsDiv{
		display:inline-block;
	}
	#manageGroups {
		text-align:center;
		position:relative;
		border:2px blue solid;
		background:aqua;
		margin-top:10%;
		width:2in;
}
	#manageGroups:hover{
		background:fuchsia;
}

	#manageGroups a{
		padding:10px;
		font-size:16px;
		text-decoration:none;
		font-weight:bold;
		color:black;
}
	#groupActions{
	margin-left:35%;
	margin-right:30%;
}