vti_encoding:SR|utf8-nl
vti_author:SR|BLUE\\LU_HUAN
vti_modifiedby:SR|BLUE\\LU_HUAN
vti_timelastmodified:TR|17 Mar 2015 06:22:45 -0000
vti_timecreated:TR|07 Mar 2015 19:41:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Vulcan/signup.html Vulcan/weatherPage.html Vulcan/templatePage.html Vulcan/Yelp_Output.php
vti_nexttolasttimemodified:TW|17 Mar 2015 06:22:45 -0000
vti_cacheddtm:TX|17 Mar 2015 06:22:24 -0000
vti_filesize:IR|2915
