vti_encoding:SR|utf8-nl
vti_author:SR|BLUE\\LU_HUAN
vti_modifiedby:SR|BLUE\\LU_HUAN
vti_timelastmodified:TR|07 Mar 2015 07:59:37 -0000
vti_timecreated:TR|20 Feb 2015 08:49:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Vulcan/TVPage_1.html Vulcan/Yelp_Output.php
vti_nexttolasttimemodified:TW|07 Mar 2015 07:59:37 -0000
vti_cacheddtm:TX|07 Mar 2015 07:58:04 -0000
vti_filesize:IR|2670
vti_cachedlinkinfo:VX|S|http://s18.postimg.org/cjg6chn2x/cityskylinenycheader.png S|http://s2.postimg.org/yoexptlth/headercloudpix1.png
vti_cachedsvcrellinks:VX|NSHS|http://s18.postimg.org/cjg6chn2x/cityskylinenycheader.png NSHS|http://s2.postimg.org/yoexptlth/headercloudpix1.png
