vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Mar 2015 06:22:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|BLUE\\LU_HUAN
vti_modifiedby:SR|BLUE\\LU_HUAN
vti_timecreated:TR|01 Mar 2015 23:40:08 -0000
vti_backlinkinfo:VX|Vulcan/index.html
vti_nexttolasttimemodified:TW|17 Mar 2015 06:22:30 -0000
vti_cacheddtm:TX|17 Mar 2015 06:16:12 -0000
vti_filesize:IR|3143
vti_cachedlinkinfo:VX|S|http://s12.postimg.org/dyoghju6j/default_hero_hires.jpg
vti_cachedsvcrellinks:VX|NSHS|http://s12.postimg.org/dyoghju6j/default_hero_hires.jpg
