vti_encoding:SR|utf8-nl
vti_author:SR|BLUE\\LU_HUAN
vti_modifiedby:SR|BLUE\\LU_HUAN
vti_timelastmodified:TW|06 Mar 2015 20:24:37 -0000
vti_timecreated:TR|20 Feb 2015 08:49:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Vulcan/TVPage_1.html TVPage_1.html Vulcan/signup.html Vulcan/Yelp_Output.php
vti_nexttolasttimemodified:TW|06 Mar 2015 20:24:37 -0000
vti_cacheddtm:TX|06 Mar 2015 20:24:15 -0000
vti_filesize:IR|1755
vti_cachedlinkinfo:VX|S|http://s30.postimg.org/yp7q00l75/snowmtskyheader1.png S|http://s2.postimg.org/yoexptlth/headercloudpix1.png
vti_cachedsvcrellinks:VX|NSHS|http://s30.postimg.org/yp7q00l75/snowmtskyheader1.png NSHS|http://s2.postimg.org/yoexptlth/headercloudpix1.png
