vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2015 21:37:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|BLUE\\LU_HUAN
vti_modifiedby:SR|BLUE\\LU_HUAN
vti_timecreated:TR|01 Mar 2015 23:40:08 -0000
vti_backlinkinfo:VX|Vulcan/index.html
vti_nexttolasttimemodified:TW|06 Mar 2015 21:37:21 -0000
vti_cacheddtm:TX|06 Mar 2015 21:37:30 -0000
vti_filesize:IR|1826
vti_cachedlinkinfo:VX|S|http://s27.postimg.org/4qunszf4z/boston_desktop_background_339751.jpg S|http://s12.postimg.org/dyoghju6j/default_hero_hires.jpg S|http://s2.postimg.org/yoexptlth/headercloudpix1.png
vti_cachedsvcrellinks:VX|NSHS|http://s27.postimg.org/4qunszf4z/boston_desktop_background_339751.jpg NSHS|http://s12.postimg.org/dyoghju6j/default_hero_hires.jpg NSHS|http://s2.postimg.org/yoexptlth/headercloudpix1.png
